.main-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/main-bannner.jpg');
    aspect-ratio: 1440/768;
    padding: 190px 0;
}

.main-banner_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-banner_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.main-banner_content h1{
    font-size: 64px;
    font-weight: 700px;
    color: aliceblue;
}

.main-banner_content h3 {
    font-size: 36px;
    font-weight: 400;
    color: aliceblue;
}

.main-banner_content button {
    background-color: #FFC957 ;
    font-size:18px;
    font-weight: 500;
    padding: 20px 80px;
    border: none;
    transition: 0.4s;
}

.main-banner_content button:hover {
    background-color: red;
}

.main-banner_social {
    display: flex;
    width: 36px;
    height: 36px;
    flex-direction: column;
    gap: 60px;
    margin-left: 450px;
    margin-top: 80px;
}

.sub-banner {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 80px 0px;
}

.sub-banner_content {
    position: relative;
}

.sub-banner_content h1 {
    position: absolute;
    top: 0px;
    left: 40%;
    transform: translate();
    font-size: 45px;
    font-weight: 400;
    /* background-color: white; */
    
}

.sub-banner_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 62px 0;
    gap: 30px;
}

.sub-banner_card {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 48px 24px 32px 24px;
    box-shadow: 0px 10px 12px 5px rgba(0,0,0,0.2);
    list-style: none;
    justify-content: center;
    height: 100%;
    
}

.sub-banner_card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-banner_card-text h4 {
    font-size: 18px;
    font-weight: 400px;
}

.sub-banner_card-text p {
    font-size: 16px;
    font-weight: 400;
    color: #5E5E5E;
}

.sub-banner_card-text h4,
.sub-banner_card-text p {
    text-align: center;
}

.sub-banner_card-contents {
    display: flex;
    justify-content: center;
    color: #753ED6;
}

.services_content {
    position: relative;
}

.services_content h1 {
    position: absolute;
    top: -0px;
    left: 38%;
    transform: translate();
    font-size: 45px;
    font-weight: 400;
    background-color: white;
}

.services-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    padding-top: 100px;
    min-height: 302px;
    min-width: 368px;
    gap: 30px;  
}

.services-wrapper-1 {
    background-image: url('./img/Rectangle\ 78.jpg');
    min-height: 302px;
    max-width: 368px;
    transition: all 0.5s;
}

.services-wrapper-2 {
    background-image: url('./img/Rectangle\ 79.jpg');
    min-height: 302px;
    max-width: 368px;
    transition: all 0.5s;
}

.services-wrapper-3 {
    background-image: url('./img/Rectangle\ 80.jpg');
    min-height: 302px;
    max-width: 368px;
    transition: all 0.5s;
}

.services-wrapper-4 {
    background-image: url('./img/Rectangle\ 82.jpg');
    min-height: 302px;
    max-width: 368px;
    transition: all 0.5s;
}

.services-wrapper-5 {
    background-image: url('./img/Rectangle\ 81.jpg');
    min-height: 302px;
    max-width: 368px;
    transition: all 0.5s;
}

.services-wrapper-6 {
    background-image: url('./img/Rectangle\ 83.jpg');
    min-height: 302px;
    max-width: 368px;
    transition: all 0.5s;
}

.services-wrapper:hover {
    transform: scale(1.02);
}

.services-wrapper-2:hover {
    transform: scale(1.02);
}

.services-wrapper-3:hover {
    transform: scale(1.02);
}

.services-wrapper-4:hover {
    transform: scale(1.02);
}

.services-wrapper-5:hover {
    transform: scale(1.02);
}

.services-wrapper-6:hover {
    transform: scale(1.02);
}

.services-button {
    grid-column: 2/3;
    grid-row: 3/4;
}

.services-button button {
    width: 368px;
    min-height: 52px;
    background-color: #65256F;
    color: #FFFFFF;
}

.services-wrapper h2 {
    padding-top: 260px;
    padding-left: 10px;
    font-size: 30px;
    color: white;
}

.production-content {
    position: relative;
}

.production-content h1 {
    position: absolute;
    top: -0px;
    left: 38%;
    transform: translate();
    font-size: 45px;
    font-weight: 400;
    color: black;
}

.production-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 100px;
    min-height: 302px;
    min-width: 368px;
    gap: 30px;  
}

.price-content {
    position: relative;
}

.price {
    padding-top: 150px;
}

.price-content h1 {
    position: absolute;
    top: -0px;
    left: 40%;
    transform: translate();
    font-size: 45px;
    font-weight: 400;
    color: black;
}

.price-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    padding-top: 100px;
    gap: 25px;
}

.price-wrappers h2 {
    color: #5A5858;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 0px;
}

.price-wrappers a {
    color: #4C1F8C;
    padding: 10px 0px;
}

.price-button{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.price-button button {
    width: 368px;
    min-height: 52px;
    background-color: #65256F;
    color: #FFFFFF;
}

.nike-content {
    position: relative;
}

.nike-content h1 {
    position: absolute;
    top: 80px;
    left: 38%;
    transform: translate();
    font-size: 45px;
    font-weight: 400;
    color: black;
}

.nike-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.comands-content {
    position: relative;
}

.comands-content h1 {
    position: absolute;
    top: 80px;
    left: 38%;
    transform: translate();
    font-size: 45px;
    font-weight: 400;
    color: black;
}

.comands-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
}

.comands-wrapper h1 {
    padding: 10px 0;
}

.comands-wrapper h2 {
    color: #6F6C6C;
    font-size: 20px;
}

.search {
    display: flex;
    justify-content: center;
}

.search-class {
    padding-top: 150px;
    width: 968px;
    height: 201px;
}

.search-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.search-content h1 {
    font-size: 35px;
    color: #343434;
}

.search-content h2 {
    font-size: 20px;
    color: #585858;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 50px;
}

.buttons button {
    width: 315px;
    height: 47px;
    background-color:#c9bbbb ;
    border: none;
    color: black;
}

.whou button {
    width: 226px;
    height: 47px;
    background-color: #65256F;
    color: #FFFFFF;
}

@media screen {
    
}

